Repository dsm23/dsm23-svelte-kit-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx,md,mdx}": ["eslint", "prettier --check"],
  "**/*.{css,json,yml}": ["prettier --check"]
}

ci(renovate): add custom manager for prettier and typescript
  prettier.config.js
  renovate.json
Due: eslint, prettier --check

ci(lint): add hadolint check in pipeline
  .github/workflows/lint.yml
  Dockerfile
Due: prettier --check

chore(storybook): update sveltekit patterns
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/ui/button/button.stories.svelte
  src/stories/Button.stories.svelte
  src/stories/Button.svelte
  src/stories/Configure.mdx
  src/stories/Header.stories.svelte
  src/stories/Header.svelte
  src/stories/Page.stories.svelte
  src/stories/Page.svelte
  src/stories/assets/accessibility.svg
  src/stories/assets/avif-test-image.avif
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: eslint, prettier --check

chore(lint): add stylelint
  .gitignore
  .stylelintignore
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint, prettier --check

chore: add .editorconfig
  .editorconfig
Due: none

chore(lefthook): add stylelint to lefthook
  lefthook.yml
Due: prettier --check

chore(eslint): missing .svelte
  lefthook.yml
  package.json
Due: prettier --check

test(classNames): add fuzz testing
  package.json
  pnpm-lock.yaml
  src/lib/utils.test.ts
  vitest.config.ts
Due: eslint, prettier --check

chore(utils): move utils into it's own folder and add missing fuzz
  src/components/ui/dropdown-menu/CheckboxItem.svelte
  src/components/ui/dropdown-menu/Content.svelte
  src/components/ui/dropdown-menu/GroupHeading.svelte
  src/components/ui/dropdown-menu/Item.svelte
  src/components/ui/dropdown-menu/Label.svelte
  src/components/ui/dropdown-menu/RadioItem.svelte
  src/components/ui/dropdown-menu/Separator.svelte
  src/components/ui/dropdown-menu/Shortcut.svelte
  src/components/ui/dropdown-menu/SubContent.svelte
  src/components/ui/dropdown-menu/SubTrigger.svelte
  src/lib/utils/fuzz.test.ts
  src/lib/utils/index.test.ts
  src/lib/utils/index.ts
Due: eslint, prettier --check

ci(docker): simplify image name in pipeline
  .github/workflows/docker.yml
Due: prettier --check

test(playwright): run against dev and prod modes
  .github/workflows/playwright.yml
  playwright.config.ts
Due: eslint, prettier --check

ci(playwright): merge reports
  .github/workflows/playwright.yml
  playwright.config.ts
Due: eslint, prettier --check

chore(commitizen): remove commitizen
  .czrc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

ci(playwright): set user option
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
Due: prettier --check

ci(renovate): use renovate docker image instead of pnpm
  .github/workflows/renovate.yml
Due: prettier --check

chore(pnpm): update pnpm-workspace
  .dockerignore
  Dockerfile
  pnpm-workspace.yaml
Due: none

ci(helm): add helm chart
  .prettierignore
  infra/.helmignore
  infra/Chart.yaml
  infra/templates/NOTES.txt
  infra/templates/_helpers.tpl
  infra/templates/deployment.yaml
  infra/templates/hpa.yaml
  infra/templates/ingress.yaml
  infra/templates/service.yaml
  infra/templates/serviceaccount.yaml
  infra/templates/tests/test-connection.yaml
  infra/values.yaml
  renovate.json
Due: prettier --check

ci(unit testing): test sharding and pr comment
  .github/workflows/unit-testing.yml
  .gitignore
  renovate.json
Due: prettier --check

ci(helm): add helm lint check pipeline
  .github/workflows/lint.yml
  .mergify.yml
  .prettierignore
Due: prettier --check

ci(renovate): add security presets to config
  renovate.json
Due: prettier --check

ci(renovate): update custom manager
  renovate.json
Due: prettier --check

ci(storybook): add storybook build to build check pipeline
  .github/workflows/build.yml
Due: prettier --check

chore(ts): add json schema to tsconfig
  tsconfig.json
Due: prettier --check

ci(renovate): use config:best-practices
  renovate.json
Due: prettier --check

chore(deps): update js unit test packages to v4
  package.json
  pnpm-lock.yaml
  vitest-setup-client.ts
  vitest.config.ts
Due: eslint, prettier --check

ci(mergify): use or operator for renovate/stability-days
  .mergify.yml
Due: prettier --check

ci(renovate): add storybook group to config
  renovate.json
Due: prettier --check

chore(deps): update eslint packages
  package.json
  pnpm-lock.yaml
  src/components/ui/button/button.svelte
Due: prettier --check

ci(renovate): remove minimumReleaseAgeNpm
  renovate.json
Due: prettier --check

chore(prettier): simplify .prettierignore
  .prettierignore
Due: none

chore(deps): update dependency prettier to v3.7.3
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(playwright): separate playwright configs
  .github/workflows/playwright.yml
  playwright.prod.config.ts
Due: eslint, prettier --check

ci(playwright): remove noble declaration
  .github/workflows/playwright.yml
  playwright.config.ts
  playwright.prod.config.ts
Due: eslint, prettier --check

ci(playwright): add tags in playwright configs
  playwright.config.ts
  playwright.prod.config.ts
Due: eslint, prettier --check

chore(eslint): remove @eslint/compat
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --check

chore(pnpm): mitigate supply chain attacks
  pnpm-workspace.yaml
Due: none

chore(pnpm): remove trustPolicy
  pnpm-workspace.yaml
Due: none

ci(renovate): add minimum 3 days release on all updates
  renovate.json
Due: prettier --check
