Repository dsm23/dsm23-svelte-kit-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

chore(tsconfig): add verbatimModuleSyntax to tsconfig
  tsconfig.json
Due: prettier --check

ci(types): add types check pipeline
  .github/workflows/check.yml
  .mergify.yml
Due: prettier --check

ci(cache): add gh workflow caches
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(husky): add husky env var in gh actions
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(playwright): add playwright pipeline
  .github/workflows/playwright.yml
  .gitignore
  .mergify.yml
  e2e/demo.test.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/routes/+page.svelte
Due: eslint, prettier --check

feat(dropdown): add shadcn dropdown menu
  package.json
  pnpm-lock.yaml
  src/components/ui/dropdown-menu/CheckboxItem.svelte
  src/components/ui/dropdown-menu/Content.svelte
  src/components/ui/dropdown-menu/GroupHeading.svelte
  src/components/ui/dropdown-menu/Item.svelte
  src/components/ui/dropdown-menu/Label.svelte
  src/components/ui/dropdown-menu/Label.test.svelte
  src/components/ui/dropdown-menu/RadioItem.svelte
  src/components/ui/dropdown-menu/Separator.svelte
  src/components/ui/dropdown-menu/Shortcut.svelte
  src/components/ui/dropdown-menu/SubContent.svelte
  src/components/ui/dropdown-menu/SubTrigger.svelte
  src/components/ui/dropdown-menu/index.svelte.test.ts
  src/components/ui/dropdown-menu/index.ts
  vite.config.ts
Due: eslint, prettier --check

feat(dark mode): add dark mode toggle
  package.json
  pnpm-lock.yaml
  src/components/dark-mode/index.svelte
  src/routes/+layout.svelte
Due: prettier --check

chore(deps): update dependency eslint-plugin-svelte to v3
  package.json
  pnpm-lock.yaml
  src/routes/+page.svelte
Due: prettier --check

ci(docker): add Dockerfile and pipeline
  .dockerignore
  .github/workflows/docker.yml
  .mergify.yml
  Dockerfile
Due: prettier --check

ci(deps-review): update deps-review
  .github/workflows/dependency-review.yml
Due: prettier --check

chore(gitattributes): add .gitattributes
  .gitattributes
Due: none

ci(pr-title): add pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

chore(dockerignore): update .dockerignore
  .dockerignore
Due: none

ci(renovate): update config to rebase on patch
  renovate.json
Due: prettier --check

ci(docker): corepack is fixed
  Dockerfile
Due: none

ci(mergify): remove no. success checks
  .github/workflows/playwright.yml
  .mergify.yml
Due: prettier --check

ci(gh cache): update cache path
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(deps): update dependency mode-watcher to v1
  package.json
  pnpm-lock.yaml
  src/components/dark-mode/index.svelte
Due: prettier --check

chore(codeql): fix incorrect version label
  .github/workflows/codeql.yml
Due: prettier --check

chore(license): add MIT license
  LICENSE
Due: none

ci(node setup): update node-based gh actions
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(deps): update node.js to v24.0.2
  .nvmrc
  Dockerfile
Due: none

ci(codeql): add codeql for gh actions
  .github/workflows/codeql.yml
  .mergify.yml
Due: prettier --check

ci(permissions): add missing gh actions permissions
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(docker): specific alpine version
  Dockerfile
Due: none

ci(git checkout): prevent persist-credentials
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(codeql): persist credentials false
  .github/workflows/codeql.yml
Due: prettier --check

chore(ts-reset): add ts-reset
  package.json
  pnpm-lock.yaml
  src/reset.d.ts
Due: eslint, prettier --check

ci(scorecard): add scorecard
  .github/workflows/scorecard.yml
Due: prettier --check

docs(security): add security policy
  SECURITY.md
Due: eslint, prettier --check

chore(lefthook): replace husky with lefthook
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
  .husky/commit-msg
  .husky/install.js
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc
  Dockerfile
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier --check

ci(dockerfile): revert to generic node alpine
  Dockerfile
Due: none

ci(mergify): autodelete merged branches in github
  .mergify.yml
Due: prettier --check

ci(permissions): stricter permissions in gh actions
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/zizmor.yml
Due: prettier --check

ci: add smoke-test pipeline
  .github/workflows/smoke-test.yml
  .mergify.yml
  .storybook/main.ts
  .storybook/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  vite.config.ts
  vitest.config.ts
Due: eslint, prettier --check

docs: add CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(lefthook): remove glob pattern for prettier
  lefthook.yml
Due: prettier --check

chore(lefthook): add lefthook-local.yml to .gitignore
  .gitignore
  lefthook.yml
Due: prettier --check

ci(renovate): add renovate config check pipeline
  .github/workflows/renovate.yml
  .mergify.yml
Due: prettier --check

chore(npmrc): remove engine strict
  .npmrc
Due: none

Path conditions:
  eslint: any of: **/*.{js,mjs,ts,tsx,md,mdx}
  prettier --check: (any of: **/*.{js,mjs,ts,tsx,md,mdx}) or (any of: **/*.{css,json,yml})
